# NTFY TOPIC
NTFY_TOPIC="lms-birthdaywisher"

# SMTP creds
SMTP_USER=""
SMTP_PASSWORD=""

# Azure Blob Storage
AZURE_STORAGE_ACCOUNT_NAME=""
AZURE_STORAGE_ACCOUNT_KEY=""
AZURE_STORAGE_CONNECTION_STRING=""
AZURE_STORAGE_CONTAINER_NAME="birthdaymailer"
AZURE_EMPLOYEE_IMAGES_FOLDER="employee-images"
AZURE_BIRTHDAY_CARDS_FOLDER="birthday-cards"
AZURE_TEMPLATES_FOLDER="birthday-templates"

