# NTFY TOPIC
NTFY_TOPIC="lms-birthdaywisher"

# SMTP creds
SMTP_USER=""
SMTP_PASSWORD=""

# Microsoft Graph API (upload birthday cards to SharePoint/OneDrive)
MS_AUTH_TENANT_ID=""
MS_AUTH_CLIENT_ID=""
MS_AUTH_CLIENT_SECRET=""
MS_DRIVE_ID=""
MS_DRIVE_USER="jaihind.pal@lmsin.com"
MS_EMPLOYEE_IMAGES_FOLDER="employee-images"
MS_BIRTHDAY_CARDS_FOLDER="birthday-cards"

